@model IEnumerable<Ingredient>
@{
    ViewBag.Title = "Galati's Restaurant Ingredients";
}
<h1 class="text-center">Ingredients</h1>

<a asp-action="Create">Add new ingredient</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Ingredient i in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => i.Name)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@i.IngredientId" class="btn btn-info">Details</a>
                    <a asp-action="Edit" asp-route-id="@i.IngredientId" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@i.IngredientId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>